body {
    padding-top: 2%;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 400;
}
h2 {
    font-family: 'Open Sans', Sans-serif;
    font-weight: 600;
}
h3 {
    font-family: 'Open Sans', Sans-serif;
    font-weight: 400;
}
.bg {
    min-height: 100%;
    background: linear-gradient(133deg, #869ddf, #3b45a0); /*#869ddf, #160ca3*/ /*#ffb74d, #ef5350*/
    background-size: 300% 300%;
    -webkit-animation: GradientBG 120s ease infinite;
    -moz-animation: GradientBG 120s ease infinite;
    -o-animation: GradientBG 120s ease infinite;
    animation: GradientBG 12s ease infinite;
}
    
@-webkit-keyframes GradientBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.box {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin:auto;
    background-color: rgba(240, 240, 240, 0.466);
    border-radius: 30px;
}

.head {
    display:flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin:auto;
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family: 'Open Sans', Helvetica, Sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
  
.column {
    flex: 50%
}

.column1 {
    flex: 35%;
}

.column2 {
    flex: 65%
}

.pad {
    padding:20px;
}
