body {
    padding-top: 2%;
    font-family: 'Open Sans', Helvetica, Sans-serif;
}
.bg {
    min-height: 100%;
    background: linear-gradient(133deg, #ffb74d, #ef5350);
    background-size: 300% 300%;
    -webkit-animation: GradientBG 120s ease infinite;
    -moz-animation: GradientBG 120s ease infinite;
    -o-animation: GradientBG 120s ease infinite;
    animation: GradientBG 12s ease infinite;
}
    
@-webkit-keyframes GradientBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.box {
    width: 80%;
    margin:auto;
    padding-bottom: 100px;
    background-color: rgba(240, 240, 240, 0.466);
    border-radius: 30px;
}

.head {
    background-color: white;
    margin:auto;
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family: 'Open Sans', Helvetica, Sans-serif;
}

.row {
    display: flex;
    padding: 5px
  }
  
  .column {
    flex: 50%;
    padding: 5px
  }